@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
}
.slick-disabled {
  opacity: 0.4;
}
.slick-slide {
  border: none;
}
.slick-slide:focus {
  border: none;
}
.slick-next,
.slick-prev {
  width: 40px !important;
  height: 40px !important;
  cursor: pointer;
  border: none;
  border-radius: 100%;
  background-color: transaprent;
  z-index: 10 !important;
  background-size: cover;
  background-positions: center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .slick-next,
  .slick-prev {
    width: 50px !important;
    height: 50px !important;
  }
}
@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-around {
    @apply flex justify-around items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-column {
    @apply flex flex-col justify-center items-start;
  }
  .flex-column-start {
    @apply flex flex-col justify-start items-start;
  }
  .flex-column-center {
    @apply flex flex-col justify-around items-center;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
