@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/theme.css");

html {
  font-size: 62.5%;
}
body {
  font-family: "Open Sans", sans-serif;
}
.slick-disabled {
  display: none;
}
.slick-next {
  background-image: url("/public/assets/icons/arrow_next_active.svg");
  background-size: cover;
  background-positions: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}
.slick-prev {
  background-image: url("/public/assets/icons/arrow_prev_active.svg");
  background-size: cover;
  background-positions: center;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-between {
    @apply flex justify-between items-center;
  }
  .flex-around {
    @apply flex justify-around items-center;
  }
  .flex-start {
    @apply flex justify-start items-center;
  }
  .flex-end {
    @apply flex justify-end items-center;
  }
  .flex-column {
    @apply flex flex-col justify-center items-start;
  }
  .flex-column-start {
    @apply flex flex-col justify-start items-start;
  }
  .flex-column-center {
    @apply flex flex-col justify-around items-center;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
